/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./variables.scss";

body, app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: $background-grey;
}

.main-content {
  flex: 1;
}
