$background-grey: #f8f9fa;
$background-active: #f8f9fa;
$background-disabled: #eeeeee;
$brand-primary: #000000;
$brand-success: #81bc00;
$brand-info: #00a1de;
$brand-warning: #f0ad4e;
$brand-danger: #cf102d;
$text-primary: #000000;
$text-light: #fff;
$text-grey: #53565A;
$text-greyed: #d5d5d5;
$border-grey: #E6E6E6;
$border-green: #85BE06;
$table-header: #97999B;
$border-field-input: #d0d0ce;
$border-form-control-focus: #00A3E0;
$border-form-control-error: #D72B26;
$text-match: #00A2E3;
$light-grey: #F6F6F6;
$text-light-grey: #97999B;
