<app-sub-title [title]="title">
  <button class="btn btn-primary create-contact-btn btn-right">Create contact</button>
</app-sub-title>

<app-contacts-table
  [pageOptions]="pageOptions$ | async"
  [contacts]="(contactsResponse$ | async).contacts"
  (onSort)="onSort($event)"></app-contacts-table>

<mat-paginator [length]="(contactsResponse$ | async).length"
               [pageSize]="(pageOptions$ | async).itemsPerPage"
               [pageSizeOptions]="pageSizeOptions"
               (page)="onPageChange($event)">

</mat-paginator>

<app-preloader *ngIf="isLoading$ | async"></app-preloader>
