<div class="container-fluid navbar">
  <div class="navbar-header">
    <a class="navbar-brand">Folio Web Portal</a>
  </div>
  <ul class="nav navbar-nav">
    <li class="cs-route active">
      <a href="/dashboard">Dashboard</a>
    </li>
    <li class="cs-route">
      <a href="/dayPlanner/events">Events</a>
    </li>
    <li class="cs-route">
      <a href="/contacts">Contacts</a>
    </li>
    <li class="cs-route">
      <a href="/dayPlanner/tasks">Tasks</a>
    </li>
    <li class="cs-route">
      <a href="/documents">Files</a>
    </li>
    <li class="cs-route">
      <a href="/settings/dayplanner">Settings</a>
    </li>
    <li class="cs-route">
      <a href="/adminPanel">Admin</a>
    </li>
  </ul>
  <div class="nav navbar navbar-right">
    <mat-form-field>
      <mat-select placeholder="USER">
        <mat-option [value]="'User'">
          <div>select1</div>
          <div>select2</div>
          <div>select3</div>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
