<header class="navbar cs-navbar-top">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand">Folio Web Portal</a>
      </div>
      <ul class="nav navbar-nav navbar-left" data-locator="main-menu">
          <li class="cs-route active" ui-sref-active="active" ng-if="shellData.user.currentExecutiveId">
              <a href="/dashboard">Dashboard</a>
          </li>
          <li class="cs-route">
              <a href="/dayPlanner/events">Events</a>
          </li>
          <li class="cs-route">
              <a href="/contacts">Contacts</a>
          </li>
          <li class="cs-route">
              <a href="/dayPlanner/tasks">Tasks</a>
          </li>
          <li class="cs-route">
              <a href="/documents">Files</a>
          </li>
          <li class="cs-route">
              <a href="/settings/dayplanner">Settings</a>
          </li>
          <li class="cs-route">
              <a href="/adminPanel">Admin</a>
          </li>
      </ul>
  </div>
</header>